body{
    min-height: 470px;
}
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: block;
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}
a{
    color: #414141;
    text-decoration: none;
}
@import 'base/variables';


@import 'blocks/menu';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'blocks/breadcrumb';
@import 'blocks/contacts';
@import 'blocks/title';
@import 'blocks/about';
@import 'blocks/subtitle';
@import 'blocks/condition';
@import 'blocks/benefit';
@import 'blocks/advantage';
@import 'blocks/saving';
@import 'blocks/cart';
@import 'blocks/cabinet';
@import 'blocks/basket';
