
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: #414141;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


@import 'base/variables';


@import 'blocks/menu';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/footer';
@import 'blocks/breadcrumb';
@import 'blocks/contacts';
@import 'blocks/title';
@import 'blocks/about';
@import 'blocks/subtitle';
@import 'blocks/condition';
@import 'blocks/benefit';
@import 'blocks/advantage';
@import 'blocks/saving';
@import 'blocks/cart';
@import 'blocks/cabinet';
@import 'blocks/basket';