.cart {
    padding: 0 10px 90px;

    &__wrapper {
        margin-top: 28px;
        margin-bottom: 80px;
        position: relative;
        display: flex;
    }

    &__carousel-box {
        margin: 0 auto;
        margin-top: 52px;
        max-width: 653px;

    }

    .prev,
    .next {
        position: absolute;
        border: none;
        background-color: #fff;
        top: 39px;
        cursor: pointer;
    }

    .next {
        right: 0;
    }

    .prev {
        left: 0;
    }

    &__carousel-img1 {
        padding: 0 27px;
    }

    &__carousel-items {
        padding: 0 27px;
        margin-bottom: 20px;
    }

    &__carousel-item {
        max-width: 120px;
        margin: 0 10px;
        margin-bottom: 5px;

    }

    .slick-center {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);

    }

    &__carousel-img {
        width: 100%;
        padding: 8px 10px;
    }

    &__info {
        margin-top: 20px;
        margin-left: 30px;
        z-index: 0;
    }

    .jq-ry-container {
        padding: 0;
    }

    &__name,
    &__price {
        margin-top: 16px;
        font-weight: 700;
        font-size: 28px;
        color: $main-color;
    }

    &__subname {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        color: #686868;
    }

    &__box {
        display: flex;
        flex-wrap: wrap;
        margin-top: 19px;
        justify-content: start;
        align-items: center;
        position: relative;
    }
    &__item-box{
        margin-bottom: 18px;
    }

    &__price {
        margin: 0;
    }

    &__btn {
        width: 143px;
        height: 40px;
        background-color: $color;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 13px;
        margin: 0 20px 0 10px;

        &:hover {
            background-color: rgba(36, 84, 98, .9);
        }
    }

    &__favorite {
        position: relative;
        font-size: 12px;
        p{
            margin-left: 27px;
        }
    }

    &-options {
        display: flex;
        justify-content: start;
        font-size: 12px;
        color: $main-color;
        position: relative;

        select option[value="red"] {
            background-color: rgba(100, 100, 100, 0.3);
        }

        select option[value="green"] {
            background-color: rgba(233, 100, 100, 0.3);
        }

        .cart-options__char .jq-selectbox__select {
            width: 100%;
            padding: 0 10px;
        }

        &__num {
            width: 30px;
            margin-right: 45px;
        }

        &__select {
            display: contents;
        }

        &__title {
            margin-bottom: 10px;
        }

        .jq-selectbox__select {
            position: relative;
            height: 30px;
            width: 30px;
            padding: 0;
            border: none;
            border-bottom-color: #B3B3B3;
            border-radius: 0;
            background: transparent;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
            font: 'Roboto';
            color: #000;
            text-shadow: none;
            text-align: center;
        }

        .jq-selectbox li:hover,
        .sel.selected {
            background-color: rgba(163, 171, 177, .3);
            color: #000;
        }

        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            border-left: none;
        }

        .jq-selectbox__trigger-arrow {
            top: 14px;
            right: 0;
            border: none;

            &::before {
                position: absolute;
                content: "";
                background-image: url('../icons/arrow-black.svg');
                background-repeat: no-repeat;
                top: 0;
                right: -22px;
                width: 10px;
                height: 6px;
            }
        }

        .jq-selectbox__select-text {
            display: inline-block;
            font-size: 14px;
        }

        .cart-options__color-1.sel.selected .jq-selectbox__select-text {
            background-color: green;
        }

        .jq-selectbox.focused .jq-selectbox__select {
            border: none;
        }

        .jq-selectbox__dropdown {
            position: absolute;
            margin: 0;
            top: 55px;
            padding: 0;
            border: none;
            border-radius: 0;
            background: #FFF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
            font: 14px/18px Arial, sans-serif;
        }
    }

    &__descr {
        margin-top: 20px;

        span {
            font-weight: 500;
            font-size: 12px;
            color: $main-color;
        }

        p {
            margin-top: 10px;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #686868;
        }
    }

    &__items {
        display: flex;
        align-items: flex-start;
    }

    &__item {
        font-weight: 500;
        font-size: 16px;
        color: #686868;

        &_active {
            color: $main-color;

            &::after {
                display: inline-block;
                content: '';
                width: 100%;
                height: 3px;
                background-color: $color;
            }
        }
    }

    &__item+&__item {
        margin-left: 50px;

    }

    &__box-item {
        display: none;

        &_active {
            display: block;
        }
    }

    &__character-inner {
        display: flex;
        margin-top: 27px;

        li {
            font-size: 14px;
            margin-top: 23px;
            color: $main-color;

            &:first-child {
                margin: 0;
            }
        }

    }

    &__left-content {
        width: 70%;
    }

    &__right-content {
        width: 52%;
        margin-left: 116px;
    }

    &__feature-left {
        margin-right: -50%;
        width: 49%;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        letter-spacing: normal;
    }

    &__feature-right {
        display: inline-block;
        letter-spacing: normal;
        padding-left: 3px;
        margin-left: 49%;
        width: 50%;
        vertical-align: bottom;
    }

    &__feature-left::after {
        content: '';
        display: inline-block;
        width: 100%;
        border-bottom: 1px dotted #686868;
        margin: 0 -99% 0 3px;
        vertical-align: baseline;
    }

    &__reviews-item {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
    }

    &__reviews-item+&__reviews-item {
        margin-top: 40px;
    }

    &__reviews-img {
        width: 120px;
        height: 120px;
        margin-right: 30px;
        img{
            width: 100%;
            height: auto;
            border-radius: 100%;
        }
    }

    &__reviews-inner {
        width: 100%;
    }

    &__reviews-name {
        font-size: 20px;
        color: $main-color;
        margin-bottom: 10px;
    }

    &__reviews-age {
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__reviews-text {
        font-size: 16px;
        line-height: 20px;
        color: $text-color;
    }

    &__delivery-info {
        margin-top: 20px;
    }
}