.benefit {
    padding: 15px 0 80px;
    min-height: 706px;
    background-color: #D7E8ED;

    &__item {
        max-width: 540px;
        text-align: center;
        margin: 0 auto;
        margin-top: 65px;

        span {
            width: 50px;
            height: 1px;
            background: $color;
            display: block;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    &__descr {
        font-size: 14px;
        line-height: 20px;
        color: $text-color;
        margin-top: 15px;
    }
}