.cabinet {
    padding: 10px 10px 30px;

    &__bonus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 16px;
        color: $main-color;
        font-weight: 400;
    }

    &__bonus-rules {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
        font-size: 12px;
    }

    &__bonus-rule {
        margin-left: 20px;
        color: #245462;
    }

    &__bonus-items {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 57px;
        background-color: #F8F8F8;
        font-weight: 400;
        font-size: 14px;
        color: $main-color;
    }

    &__bonus-item {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    &__bonus-item-img {
        margin-right: 15px;
    }

    &__wrap {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        padding-top: 42px;
    }

    &__data {
        position: relative;
        width: 457px;
        margin-right: 100px;
    }

    &__orders {
        width: 50%;
    }

    &__data-persone {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        color: $text-color;
        font-weight: 400;
        font-size: 12px;
    }

    &__name,
    &__surname {
        width: 207px;
        margin-bottom: 10px;
    }

    &__email,
    &__phone {
        width: 240px;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 5px;
    }

    &__input {
        width: 100%;
        height: 38px;
        padding: 0 12px;
        outline: none;
        background: #FCFCFC;
        box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.07);
        border: none;
    }

    &__data-adress {
        display: flex;
        flex-wrap: wrap;
    }

    &__city,
    &__houses,
    &__street {
        color: $text-color;
        font-weight: 400;
        font-size: 12px;
    }

    &__city {
        margin-top: 20px;
        width: 207px;
    }

    &__street,
    &__city {
        margin-bottom: 10px;
    }

    &__houses {
        display: flex;
        width: 207px;
        margin-bottom: 58px;
    }

    &__house {
        width: 117px;
        margin-right: 10px;
    }

    &__apartment {
        width: 80px;
    }

    &__btn {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 101px;
        height: 40px;
        background: $color;
        border: none;
        cursor: pointer;
        color: #fff;
    }
}