.cart {
    padding: 0 10px 90px;

    &__wrapper {
        margin-top: 28px;
        position: relative;
        display: flex;
    }

    &__carousel-box {
        margin-top: 52px;
        width: 653px;
        margin-right: 30px;
    }

    .prev,
    .next {
        position: absolute;
        border: none;
        background-color: #fff;
        top: 39px;
        cursor: pointer;
    }

    .next {
        right: 0;
    }

    .prev {
        left: 0;
    }

    &__carousel-img1 {
        padding: 0 27px;
    }

    &__carousel-items {
        padding: 0 27px;
        margin-bottom: 45px;
    }

    &__carousel-item {
        max-width: 120px;
        margin: 0 10px;
        margin-bottom: 5px;

    }

    .slick-center {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);

    }

    &__carousel-img {
        width: 100%;
        padding: 8px 10px;
    }


    &__grade {
        img {
            width: 15px;
            height: 14px;
        }
    }

    &__name,
    &__price {
        margin-top: 16px;
        font-weight: 700;
        font-size: 28px;
        color: $main-color;
    }

    &__subname {
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        color: #686868;
    }

    &__box {
        display: flex;
        margin-top: 19px;
        justify-content: space-between;
        align-items: center;
    }

    &__price {
        margin: 0;
    }

    &__btn {
        width: 143px;
        height: 40px;
        background: $color;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 13px;
    }

    &__add {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        color: $main-color;

        img {
            width: 17px;
            height: 15px;
            margin-right: 10px;
        }
    }

    &__options {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 18px;
        font-size: 14px;

        p {
            margin-bottom: 10px;
        }
    }

    &__colors {
        width: 30px;
        height: 30px;
        margin: 5px 0;
        background: #fff;
        margin: 0;

        span {
            display: block;
            width: 30px;
            height: 30px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
            background: #FFC107;
        }

    }

    &__color {
        position: absolute;
        width: 35px;
        height: 110px;
        display: none;
        top: 30px;
        background-color: #fff;

        &_active {
            display: block;
        }

        span {
            margin-top: 5px;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);

            &:nth-child(1) {
                display: block;
                width: 30px;
                height: 30px;
                background: #ff4107;
            }

            &:nth-child(2) {
                display: block;
                width: 30px;
                height: 30px;
                background: #0fff07;
            }

            &:nth-child(3) {
                display: block;
                width: 30px;
                height: 30px;
                background: #0717ff;
            }
        }
    }

    &__color-img,
    &__number-img {
        z-index: 1;
        cursor: pointer;
    }

    &__numbers {
        width: 30px;
        height: 30px;
        background-color: #fff;

        span {
            position: absolute;
            top: -3px;
            left: 0px;
            z-index: 1;
            padding: 11px;
        }
    }

    &__number {
        position: absolute;
        display: none;
        width: 30px;
        height: 135px;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);

        &_active {
            display: block;
        }

        span {
            padding: 11px;
            left: 0;

            &:nth-child(1) {
                top: 31px;

            }

            &:nth-child(2) {
                top: 67px;

            }

            &:nth-child(3) {
                top: 100px;

            }
        }
    }

    &__size {
        width: 187px;
    }

    &__item-char {
        position: relative;

        &:nth-child(2) {
            padding: 0 82px 0 43px;
        }
    }

    &__numbers,
    &__colors,
    &__sizes {
        position: relative;

        img {
            position: absolute;
            top: 50%;
            transform: translate(-50%, - 50%);
            right: -24px;
        }
    }

    &__descr {
        margin-top: 20px;

        span {
            font-weight: 500;
            font-size: 12px;
            color: $main-color;
        }

        p {
            margin-top: 10px;
            font-weight: 300;
            font-size: 12px;
            line-height: 18px;
            color: #686868;
        }
    }
    &__items {
        display: flex;
        align-items: flex-start;
    }

    &__item {
        font-weight: 500;
        font-size: 16px;
        color: #686868;

        &_active {
            color: $main-color;

            &::after {
                display: inline-block;
                content: '';
                width: 100%;
                height: 3px;
                background-color: $color;
            }
        }
    }

    &__item+&__item {
        margin-left: 50px;

    }

    &__box-item {
        display: none;

        &_active {
            display: block;
        }
    }

    &__character-inner {
        display: flex;
        margin-top: 27px;

        li {
            list-style-type: none;
            font-size: 14px;
            margin-top: 23px;
            color: $main-color;

            &:first-child {
                margin: 0;
            }
        }

    }

    &__left-content {
        width: 60%;
    }

    &__right-content {
        width: 52%;
        margin-left: 116px;
    }

    &__feature-left {
        margin-right: -50%;
        width: 49%;
        vertical-align: top;
        overflow: hidden;
        display: inline-block;
        letter-spacing: normal;
    }

    &__feature-right {
        display: inline-block;
        letter-spacing: normal;
        padding-left: 3px;
        margin-left: 49%;
        width: 50%;
        vertical-align: bottom;
    }

    &__feature-left::after {
        content: '';
        display: inline-block;
        width: 100%;
        border-bottom: 1px dotted #686868;
        margin: 0 -99% 0 3px;
        vertical-align: baseline;
    }

    &__reviews-item {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
    }

    &__reviews-item+&__reviews-item {
        margin-top: 40px;
    }

    &__reviews-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-right: 30px;

    }

    &__reviews-inner {
        max-width: 500px;
    }

    &__reviews-name {
        font-size: 20px;
        color: $main-color;
        margin-bottom: 10px;
    }

    &__reviews-age {
        font-size: 18px;
        margin-bottom: 10px;
    }

    &__reviews-text {
        font-size: 16px;
        line-height: 20px;
        color: $text-color;
    }
}