.condition {
    min-height: 475px;
    padding: 50px 0 95px;

    &__items {
        margin-top: 90px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 65px;
    }

    &__item {
        max-width: 538px;
        min-height: 91px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

    }

    img {
        width: 68px;
    }

    &__box {
        margin-left: 30px;
    }

    &__descr {
        margin-top: 10px;
        max-width: 440px;
        font-size: 14px;
        line-height: 20px;
        color: #686868;
    }

}