.menu {
    min-height: 126px;
    width: 100%;
    padding: 46px 0 30px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 113px;
        height: 25px;
    }

    &__items {
        display: flex;
        margin-right: 10px;
    }

    &__item-link {
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 10px;
        color: $main-color;

        &:hover {
            background-color: rgb(219, 219, 219, .2);
            color: $color;
        }
    }

    &__search {
        display: flex;
        position: relative;
        margin-right: 30px;
    }

    &__search-area {
        width: 280px;
        height: 40px;
        font-size: 14px;
        background-color: #F9F9F9;
        border: none;
    }

    &__search-icon {
        position: absolute;
        top: 12px;
        left: 16px;
    }

    &__phone {
        display: flex;
        font-size: 14px;
        padding: 10px 12px;
        border-radius: 10px;

        &-num {
            color: $main-color;

            &:hover {
                color: $color;
            }
        }

        &:hover {
            background-color: rgb(219, 219, 219, .2);
        }
    }

    &__phone-icon {
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }

    &__delivery {
        display: flex;
        font-size: 14px;
        padding: 10px 12px;
        border-radius: 10px;

        &-link {
            color: $main-color;
            &:hover{
                color: $color;
            }
        }

        &:hover {
            background-color: rgb(219, 219, 219, .2);
            color: $color;
        }
    }

    &__delivery-icon {
        width: 29px;
        height: 17px;
        margin-right: 10px;
    }

    &__icons {
        display: flex;
        height: 35px;
    }

    &__icons-profile,
    &__icons-chosen,
    &__icons-bag {
        padding: 8px 9px;
        border-radius: 100%;

        &:hover {
            background-color: rgb(219, 219, 219, .2);
        }
    }

    &__icons-bag {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            border-radius: 100%;
            background-color: #D74444;
            top: 9px;
            right: 9px;
        }
    }

    &__categories {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        font-size: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    }

    &__categories ul ul {
        display: none;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    }

    &__category-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        z-index: 2;
    }

    &__category {
        height: 100%;
        width: 150px;

        &:nth-child(5) {
            width: 211px;
        }

        &:hover {
            background-color: $color;
            cursor: pointer;

            ul {
                display: block;
                width: 189px;
            }

            .menu__category-descr {
                color: #fff;
            }
        }

    }

    &__category-link:hover {
        color: $color;
    }

    &__category-item {
        display: flex;
        margin-top: 25px;
        align-items: center;

        &_img {
            margin-left: 15px;
        }
    }

    &__category-iconwhite {
        display: none;
    }

    &__category:hover {
        .menu__category-iconwhite {
            display: block;
        }

        .menu__category-iconblack {
            display: none;
        }
    }

    &__category img {
        margin-left: 24px;
    }

    &__category-descr {
        margin-left: 10px;
    }


    &__category-links {
        margin-top: 22px;
        font-size: 14px;
        padding: 12px 13px;

        li {
            margin: 22px 0;
        }
    }

    &__category-link {
        padding: 13px;
        color: $main-color;
        &:hover {
            background-color: rgb(219, 219, 219, .2);
            border-radius: 5px;
            color: $color;
        }
    }

    &__category-stock {
        font-size: 16px;
        color: #D74444;
        margin-left: 25px;
    }

    &__category-hidden {
        position: relative;
        margin: 0 20px;
    }

    &__category-point {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 100%;

        &:hover {
            background-color: rgb(219, 219, 219, .2);

        }

        span {
            background-color: #000;
            height: 3px;
            width: 3px;
            border-radius: 100%;
            margin-bottom: 5.5px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__category-list {
        position: absolute;
        display: none;
        right: -1px;
        padding: 12px 13px;
        width: 151px;
        z-index: 11;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        top: 39px;
        font-size: 14px;

        &_active {
            display: block;
        }

        li {
            margin: 20px 0;
        }
    }

}