.menu {
    min-height: 126px;
    width: 100%;
    padding-top: 46px;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__burger {
        display: none;
        position: absolute;
        height: 13px;
        width: 20px;
        background-image: url('../icons/menu-icon.svg');
        background-repeat: no-repeat;
        left: 25px;
        top: 13px;
    }

    &-content {
        position: absolute;
        width: 227px;
        background: #F9F9F9;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        z-index: 3;
        padding: 21px 20px 24px 0;
        top: -46px;
        left: -100%;
        transition: all 1.9s;

        &_active {
            transition: all 0.7s;
            left: 0;
            z-index: 10;
        }

        &__item {
            padding-left: 26px;
            font-weight: 700;
            font-size: 13px;
            line-height: 15px;
            color: $main-color;
            margin-bottom: 23px;

            &-category {
                margin-top: 21px;

            }
        }


        &__link {
            display: flex;
            align-items: center;
            justify-content: start;
            font-size: 13px;
            line-height: 15px;
            color: $main-color;
            padding: 15px 29px;

            &:focus {
                background: linear-gradient(90deg, #F1F1F1 0%, rgba(238, 246, 250, 0.19) 82.82%, rgba(237, 248, 252, 0) 107.25%);
            }
        }

        &__img {
            width: 14px;
            height: 14px;
        }

        &__text {
            margin-left: 20px;
            span{
                color: #E92D2D;
            }
        }
    }

    &-content {
        &__exit {
            content: url('../icons/exit.svg');
            position: absolute;
            top: 20px;
            right: 15px;
        }
    }

    &__logo {
        width: 113px;
        height: 25px;
    }

    &__items {
        display: flex;
        margin-right: 10px;
    }

    &__item-link {
        font-size: 14px;
        padding: 5px 12px;
        border-radius: 10px;
        color: $main-color;

        &:hover {
            background-color: rgb(219, 219, 219, .2);
            color: $color;
        }
    }

    &__search {
        display: flex;
        position: relative;
        margin-right: 30px;

        &-down {
            display: none;
        }
    }

    &__search-area {
        width: 100%;
        height: 40px;
        font-size: 14px;
        background-color: #F9F9F9;
        border: none;
    }

    &__search-icon {
        position: absolute;
        top: 12px;
        left: 16px;
    }

    &__phone {
        display: flex;
        font-size: 14px;
        padding: 10px 12px;
        border-radius: 10px;

        &-num {
            color: $main-color;

            &:hover {
                color: $color;
            }
        }

        &:hover {
            background-color: rgb(219, 219, 219, .2);
        }
    }

    &__phone-icon {
        width: 17px;
        height: 17px;
        margin-right: 10px;
    }

    &__delivery {
        display: flex;
        font-size: 14px;
        padding: 10px 12px;
        border-radius: 10px;

        &-link {
            color: $main-color;

            &:hover {
                color: $color;
            }
        }

        &:hover {
            background-color: rgb(219, 219, 219, .2);
            color: $color;
        }
    }

    &__delivery-icon {
        width: 29px;
        height: 17px;
        margin-right: 10px;
    }

    &__icons {
        display: flex;
        height: 35px;
    }

    &__icons-profile,
    &__icons-chosen,
    &__icons-bag {
        padding: 8px 9px;
        border-radius: 100%;

        &:hover {
            background-color: rgb(219, 219, 219, .2);
        }
    }

    &__icons-profile {
        padding-right: 0;
    }

    &__icons-bag {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            border-radius: 100%;
            background-color: #D74444;
            top: 9px;
            right: 6px;
        }
    }

    &__category-box {
        position: relative;
        display: flex;
        align-items: center;
        height: 100%;
        z-index: 2;
        margin-top: 20px;
        justify-content: flex-start;
        height: 70px;
        font-size: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    }

    &__category-links {
        display: none;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    }

    &__category {
        height: 100%;
        width: 150px;
        &_stock,
        &_new{
            display: none;
        }
        &-office {
            width: 190px;
        }

        &:hover {
            background-color: $color;
            cursor: pointer;

            ul {
                display: block;
                width: 189px;
            }

            .menu__category-descr {
                color: #fff;
            }
        }

    }

    &__category.menu__category-stock {
        width: 90px;
        margin-left: 10px;

        &:hover {
            background-color: #fff;
        }
    }

    &__category-li:hover {
        color: $color;
    }

    &__category-item {
        display: flex;
        margin-top: 25px;
        align-items: center;

        &_img {
            margin-left: 15px;
        }
    }

    &__category-iconwhite {
        display: none;
    }

    &__category:hover {
        .menu__category-iconwhite {
            display: block;
        }

        .menu__category-iconblack {
            display: none;
        }
    }

    &__category-iconwhite,
    &__category-iconblack {
        margin-left: 15px;
    }

    &__category-descr {
        display: inline-block;
        margin-left: 10px;
        color: $main-color;
        span{
            color: #E92D2D;
        }
    }


    &__category-links {
        margin-top: 22px;
        font-size: 14px;
        padding: 12px 13px;

        li {
            margin: 22px 0;
        }
    }

    &__category-link {
        padding: 13px;
        color: $main-color;

        &:hover {
            background-color: rgb(219, 219, 219, .2);
            border-radius: 5px;
            color: $color;
        }
    }

    &__category-stock {
        font-size: 16px;
        color: #D74444;
        width: 45px;
    }

    &__category-stocklist,
    &__category-childlist {
        display: none;
    }

    &__category-point {
        background-image: url('../icons/point-btn.svg');
        background-repeat: no-repeat;
        position: absolute;
        width: 3px;
        height: 16px;
        top: 25px;
        left: 98%;
        cursor: pointer;
    }

    &__category-list {
        position: absolute;
        display: none;
        right: 0;
        padding: 12px 13px;
        width: 151px;
        z-index: 11;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
        top: 70px;
        font-size: 14px;

        &_active {
            display: block;
        }

        li {
            margin: 20px 0;
        }
    }

}