.saving {
    padding: 50px 0 87px;

    &__items {
        margin-top: 55px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        align-items: center;
        max-width: 321px;
        margin: 20px 15px 0;
    }

    &__descr {
        max-width: 280px;
        margin-left: 30px;
        font-size: 14px;
        line-height: 20px;
        color: $text-color;

        span {
            font-weight: 700;
        }
    }
}